function fibonacci 1
    push argument 0
    push constant 2
    lt
    if-goto base
        push argument 0
        push constant 2
        sub
        call fibonacci.fibonacci 1
        push argument 0
        push constant 1
        sub
        call fibonacci.fibonacci 1
        add
        return

label base
    push argument 0
    return
