function Ball.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 5
pop this 2
push argument 2
pop this 3
push argument 2
pop this 4
push argument 2
pop this 5
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getvx 0
push argument 0
pop pointer 0
push this 3
return
function Ball.getvy 0
push argument 0
pop pointer 0
push this 4
return
function Ball.getRadius 0
push argument 0
pop pointer 0
push this 2
return
function Ball.drawBall 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.gameOver 0
push argument 0
pop pointer 0
push this 1
push this 2
add
push this 4
add
push constant 256
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Ball.ballMove 0
push argument 0
pop pointer 0
push this 1
push this 2
push constant 2
call Math.multiply 2
sub
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
neg
pop this 4
label IF_FALSE0
push this 0
push this 2
sub
push constant 2
lt
push this 0
push constant 2
push this 2
call Math.multiply 2
add
push constant 511
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
neg
pop this 3
label IF_FALSE1
push this 0
push this 3
add
pop this 0
push this 1
push this 4
add
pop this 1
push constant 0
return
function Ball.collideWithBat 0
push argument 0
pop pointer 0
push this 4
neg
pop this 4
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
neg
pop this 3
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 3
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 5
pop this 3
label IF_FALSE2
push constant 0
return
function Ball.sideReflect 0
push argument 0
pop pointer 0
push this 3
neg
pop this 3
push constant 0
return
function Ball.verticalReflect 0
push argument 0
pop pointer 0
push this 4
neg
pop this 4
push constant 0
return
